<style>
    .btn-custom-right {
        background-color: #d7d5ff;
        color: #000000;
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        cursor: pointer;
    }
    .btn-custom-right.active {
        border: 0.5px solid black;
    }

    .modal-dialog-custom {
        max-width: 60%;
    }

    .form-control-custom {
        width: 100%;
    }

    .modal-body form {
        width: 100%;
    }

    .border {
        border: 0.5px solid #EDECFE;
        border-radius: 5px;
    }
</style>

<div class="main-content"
    style="background-color: #f3f4f8; display: flex; flex-direction: column; width: calc(100% - 120px); padding-top: 20px">
    <div class="main-area flex-grow-1" style="min-height: 600px; padding-left: 3rem; padding-right:1rem;">

        <!-- title of project list -->
        <div class="row align-items-center mt-3">
            <div class="col-lg-2 col-4 fw-bold fs-4 color-deep-violet">
                REQUEST FILE
            </div>
        </div>
        <div class="row align-items-center mt-3">
            <div class="col-lg-12 d-flex align-items-center" style="display: flex; flex-direction:column;">
                {{!-- Button left --}}
                <div class="d-flex" style="width: 100%;">
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                        data-bs-target="#newRequestModal">New Request</button>
                </div>

                {{!-- Buttons right --}}
                <div class="d-flex" style="justify-content: flex-end; width: 100%;">
                    <button class="btn btn-custom-right active" style="margin-right: 20px;"
                        onclick="selectButton(this)">ALL</button>
                    <button class="btn btn-custom-right" style="margin-right: 20px;"
                        onclick="selectButton(this)">OPENED</button>
                    <button class="btn btn-custom-right" onclick="selectButton(this)">CLOSED</button>
                </div>

                <hr style="width: 100%;">
            </div>
        </div>


        <!--Files-->
        <div class="row align-items-center mt-2">
            <div class="col-1 d-flex align-items-center d-none d-lg-block text-center"
                style="height: 100%; margin-right: -25px;">
                <div class="fw-bold fs-6 color-deep-violet">
                    Type
                </div>
            </div>

            <div class="col-md-9 col-9" style="flex-grow: 1;">

                <div class="row align-items-center">
                    <div class="col col-sm-4">
                        <div class="fw-bold fs-5 color-deep-violet">
                            File Name
                        </div>
                    </div>

                    <div class="col d-none d-lg-block text-center">
                        <div class="fw-bold fs-6 color-deep-violet">
                            Size
                        </div>
                    </div>

                    <div class="col text-center d-none d-sm-block">
                        <div class="color-deep-violet" style="font-weight: 600;">
                            Created Date
                        </div>
                    </div>

                    <div class="col text-center d-none d-sm-block">
                        <div class="fw-bold fs-6 color-deep-violet">
                            Action
                        </div>
                    </div>

                    <div class="col col-lg-2 d-none d-md-block text-center">
                        <div class="fw-bold fs-6 color-deep-violet">
                            Owner
                        </div>
                    </div>
                </div>
            </div>

            <!-- Download -->
            <div class="col-3 col-sm-2 p-2 d-flex align-items-center" style="height: 100%;">
                <div class="fw-bold fs-6 color-deep-violet">
                    Download
                </div>
            </div>
        </div>

        {{#each documents}}
        <div class="full-width-box white-background p-1 hover-shadow-box mt-1">
            <div class="row align-items-center">
                <div class="col-1 d-flex align-items-center d-none d-lg-block text-center"
                    style="height: 100%; margin-right: -25px;">
                    <i class="{{mimeIcon file_format}} fs-3"></i>
                </div>

                <div class="col-md-9 col-9" style="flex-grow: 1;">

                    <div class="row align-items-center">
                        <div class="col col-sm-4">
                            <div class="fw-medium fs-5 color-deep-violet text-wrap">
                                {{name}}
                            </div>
                        </div>

                        <div class="col d-none d-lg-block text-center">
                            <div class="fw-medium fs-5 color-deep-violet">
                                {{formatBytes file_size}}
                            </div>
                        </div>

                        <div class="col text-center d-none d-sm-block">
                            <div class="fw-medium fs-5 color-deep-violet">
                                {{formatDate created_date}}
                            </div>
                        </div>


                        <div class="col text-center d-none d-sm-block" >
                            <div class="fw-medium fs-5 color-deep-violet">
                                <i class="bi bi-share color-blue fs-5 pe-2" style="cursor: pointer;" data-cid="{{CID}}"
                                    data-bs-toggle="modal" data-bs-target="#modal-share-file"></i>
                            </div>
                        </div>

                        <div class="col col-lg-2 d-none d-md-block text-center">
                            <div class="fw-medium fs-5 color-deep-violet not-overflow-text">
                                {{uploader_email}}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Download -->
                <div class="col-3 col-sm-2 p-2 d-flex align-items-center" style="height: 100%;">
                    <div class="download hover-to-bg-light-violet clickable" data-cid="{{CID}}"
                        data-file-name="{{name}}">
                        <i class="bi bi-cloud-download color-blue d-none d-md-block" style="font-size: 18pt;"></i>
                        <span class="color-blue fs-6 fw-medium ps-2 text-center">Download</span>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{#block "modal"}}

<div class="modal fade" id="newRequestModal" tabindex="-1" aria-labelledby="newRequestModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-custom">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Create new request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="newRequestForm">
                    <div class="mb-3">
                        <label for="requestTitle" class="form-label">Title <span style="color: red;">*</span></label>
                        <input type="text" class="form-control form-control-custom" id="requestTitle" name="title"
                            placeholder="Explain what the request is for" required>
                    </div>
                    <div class="mb-3">
                        <label for="requestDescription" class="form-label">Description (optional)</label>
                        <textarea class="form-control form-control-custom" id="requestDescription" rows="4"
                            name="description" placeholder="Add any extra details about the request"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="requestEmails" class="form-label">Recipient Emails <span
                                style="color: red;">*</span></label>
                        <input type="text" class="form-control form-control-custom" id="requestEmails" name="emails"
                            placeholder="Enter recipient emails" required>
                    </div>
                    <div class="mb-1 form-check">
                        <input type="checkbox" class="form-check-input" name="setDeadline" id="setDeadline">
                        <label class="form-check-label" for="setDeadline">Set a deadline</label>
                    </div>
                    <div class="mb-3 row">
                        <div class="col">
                            <label for="deadlineDate" class="form-label">Deadline date</label>
                            <input type="date" class="form-control" name="deadlineDate" id="deadlineDate">
                        </div>
                        <div class="col">
                            <label for="deadlineTime" class="form-label">Deadline time</label>
                            <input type="time" class="form-control" name="deadlineTime" id="deadlineTime">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-dark" id="createRequestBtn">Create</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-share-file" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content align-items-center fw-bold color-deep-violet primary-background"
            style="padding: 0 6%;">
            <div class="modal-header" style="border-bottom: none;">
                <p class="modal-title fs-3" id="modalTitleId">
                    Share Your File
                </p>
            </div>
            <div class="modal-body" style="border-bottom: none; width: 100%;">
                <div class="row mb-3">
                    <div class="col">
                        <p class="color-black fw-medium mb-1">Share this link with anyone you want to grant access
                            to your file.</p>
                        <p class="color-black fw-medium mt-0">Anyone with this link can view your file by opening it
                            in their browser.</p>
                    </div>
                </div>
                <div class="text-center">
                    <div class="sharing-link-box">
                        <p class="sharing-link mb-0">my link</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none;">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" id="copyLinkBtn">Copy</button>
            </div>
        </div>
    </div>
</div>
{{/block}}


{{#block "script"}}
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<script src="/js/requestFile.js"></script>
<script src="/js/shareLink.js"></script>
<script src="/js/downloadRequestFile.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        //when modal is shown
        $('#newRequestModal').on('show.bs.modal', function (e) {
            //clear form
            document.getElementById('newRequestForm').reset();

            const setDeadlineCheckbox = document.getElementById('setDeadline');
            const deadlineDateInput = document.getElementById('deadlineDate');
            const deadlineTimeInput = document.getElementById('deadlineTime');

            // Function to toggle the disabled state of deadline inputs
            function toggleDeadlineInputs() {
                const isChecked = setDeadlineCheckbox.checked;
                deadlineDateInput.disabled = !isChecked;
                deadlineTimeInput.disabled = !isChecked;
            }

            // Initialize the disabled state based on the checkbox
            toggleDeadlineInputs();

            // Add event listener to the checkbox
            setDeadlineCheckbox.addEventListener('change', toggleDeadlineInputs);
        });
    });
</script>

{{/block}}
